.inventory {
  margin-bottom: 1rem;
  li {
    width: 100%;
    .inventory-item {
      margin: 0 auto;
      width: 4rem;
    }
    p {
      font-size: 1rem;
      width: 70%;
      margin: 0 auto;
    }
  }
}