
@import './variables.css';

#container {
  min-height: 100vh;
  display: grid;
  background: black;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  hyphens: auto;
  font-size: $fluidFontSize;
  color: white;
}
#header { grid-area: header; }
#main { grid-area: main; } 
#footer { grid-area: footer; }

#footer {
  text-align: center;
  color: white;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      margin: .3rem .5rem;
      a {
        color: white;
        display: flex;
        flex-direction: column;
      }
    }
  }
}