.room {
  background-size: cover;
  height: 500px;
  width: 90%;
  color: white;
  text-shadow: 2px 2px 2px #000;
  padding: 10em;
}

  ul {
    margin: 0;
    padding: 0;
    display: flex;
  
  p {
    font-weight: bolder;
  }
  
  
    
    li {
      display: inline-block;
      list-style: none;
      width: 100px;
      height: 50px;
      
      button {
        width: 100%;
        background: blueviolet;
        color: white;
        font-weight: bold;
      }
    }
  }